<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- the bean must have the name messageSource -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <!-- classpath:message[_CountryCode].properties will be included -->
                <value>message</value>
            </list>
        </property>
    </bean>

    <bean id="example" class="org.swordess.toy.spring.internationalization.Example">
        <property name="messages" ref="messageSource" />
    </bean>

</beans>